# ==============================
# OS
# ==============================
.DS_Store
Thumbs.db
desktop.ini


# ==============================
# Editors / IDE
# ==============================
.vs/
.idea/

# VS Code
.vscode/
*.code-workspace


# ==============================
# Runtime / Temporary files
# ==============================
*.log
*.tmp
*.temp
*.cache


# ==============================
# Environment / Secrets
# ==============================
.env
.env.*
!.env.example

*.key
*.pem


# ==============================
# Local Database
# ==============================
*.db
*.db-shm
*.db-wal
*.sqlite
*.sqlite3


# ==============================
# Build outputs
# ==============================
bin/
obj/

dist/
build/


# ==============================
# Dependencies
# ==============================
node_modules/


# ==============================
# Python
# ==============================
__pycache__/
*.py[cod]
.venv/
venv/